{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      {% if childlink.title == 'Mens' or childlink.title == 'Womens' %}
                        {%- assign collection_handle = childlink.title | handleize -%}
                        {%- assign products = collections[collection_handle].products -%}

                        <div class="grid grid--5-col-desktop">
                          {%- assign product_count = 0 -%}
                          {%- for product in products -%}
                            {% if product_count < 5 %}
                              <div class="grid__item grid__item--col-span-2">
                                <a href="{{ product.url }}" class="mega-menu__link link">
                                  {% render 'custom-product-card', product: product, section_id: section.id %}
                                </a>
                              </div>
                              {%- assign product_count = product_count | plus: 1 -%}
                            {% endif %}
                          {%- endfor -%}
                        </div>

                      {% elsif childlink.title == 'blogs' %}
                        {%- assign blogs = blogs.all -%}
                        <div class="grid grid--4-col-desktop">
                        {% if section.settings.blog.articles %}               
                                {% for article in section.settings.blog.articles %}
                                    <div class="grid__item mega-menu__blog-wrapper custom-border-radius ">  
                                                                
                                        {% if article.image %}
                                            <div class="media media--square custom-border-radius-sm"> 
                                                {% render "responsive-picture", 
                                                    desktopImage: article.image, 
                                                    mobileImage: article.image,
                                                    class : "media media--square" %}
                                            </div>
                                        {% else %}   
                                            <div class="custom-border-radius">  
                                                {{ 'product-3' | placeholder_svg_tag }}
                                            </div>
                                        {% endif %}
                                        <div class="">  
                                            {% if article.image %}
                                                <div><b>{{ article.created_at | date: '%B %d, %Y' }}</b></div>
                                            {% endif %}
                                            
                                            {% if article.title %}
                                                <a href="{{ article.url }}" class = "h4 custom-article__title">{{ article.title }} </a>
                                            {% endif %}
                                            
                                        </div> 
                                        
                                    </div>
                                {% endfor %} 
                            {% else %}
                                {% for i in (1..5) %}
                                    <div class="grid__item">
                                        {{ 'product-' | append: i | placeholder_svg_tag }}
                                    </div> 
                                {% endfor %}            
                            {%- endif -%}  
                        </div>

                      {% else %}
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                      {% endif %}
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                  {%- for block in section.blocks -%}
                    {% assign title = block.settings.mega_menu_title %}
                      {% if link.title == title %}
                      <div class="media media--portrait custom-border-radius-sm">
                        {% render 'responsive-picture', desktopImage: block.settings.mega_menu_image, class:'media media--portrait' %}
                      </div>
                    {%- endif -%}
                    {%- endfor -%}
                </ul>
                <div>

                </div>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
