{{ 'custom-image-text.css' |  asset_url |  stylesheet_tag }}
{% style %}
    .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }
  @media only screen and (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{% endstyle %} 
<div class="custom-image-text padding-{{ section.id }}">
    <div class="page-width">
        <div class="custom-image-text__wrapper">

            <div class="custom-image-text__image">
                {% if section.settings.image != blank %} 
                    {% render 'responsive-picture', desktopImage:section.settings.image, class:'custom-border-radius-sm'%}
                    {% else %}
                    {{ 'image' | placeholder_svg_tag }}
                {% endif %}
            </div>
             <div class="custom-image-text__textContent content-{{ section.settings.text_position }} ">
                  <div class="custom-image-text__textContent-inner text-{{ section.settings.text_alignment }}">
                    {% if section.settings.badge_text != blank %}
                        <span>{{ section.settings.badge_text }}</span>
                    {% endif %}
                    {% if section.settings.title_text != blank %}
                      <h2 class="custom-image-text__title richtext bold">{{ section.settings.title_text }}</h2>
                    {% endif %}
                       {% if section.settings.description_text != blank %}
                      <span class="custom-image-text__description richtext">{{ section.settings.description_text }}</span>
                    {% endif %}
                    {% if section.settings.button_text != blank %}
                      <a
                        class="custom-image-text__button custom-button-{{ section.settings.button_type }}"
                        href=" {{ section.settings.button_link }}"
                      >
                        {{ section.settings.button_text }}
                      </a>
                    {% endif %}
                  </div>
                </div>
        </div>
        
    </div>
</div>
{% schema %}
{
    "name": "Custom Image Text",
    "settings": [
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Desktop Image Suggested Size 1240*550"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile)",
          "info": "Mobile Image Suggested Size 450*450"
        },
            {
          "type": "text",
          "id": "badge_text",
          "default": "Introduce",
          "label": "Badge Text"
        },
         {
          "type": "richtext",
          "id": "title_text",
          "label": "Title",
          "default": "<p>We Believe in the Power of Fashion</p>"
        },
        {
          "type": "richtext",
          "id": "description_text",
          "label": "Description",
          "default": "<p>fashion emerges as the universal language that speaks volumes without words.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "default": "Shop Now",
          "label": "Button Text"
        },
         {
          "type": "url",
          "id": "block_button_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Choose Button Type",
          "default": "primary",
          "info": "Choose Between the Customized Buttons to Style the Button",
          "options": [
            {
            "value": "primary",
            "label": "Primary"
            },
            {
            "value": "secondary",
            "label": "Secondary"
            },
            {
            "value": "secondary_color",
            "label": "Tertiary"
            }
          ]
        },
         {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "options": [
            {
            "value": "left",
            "label": "Left"
            },
            {
            "value": "center",
            "label": "Center"
            },
            {
            "value": "right",
            "label": "Right"
            }
        ],
        "default": "center"
        },

   {
      "type": "select",
      "id": "text_position",
      "label": "Text Position",
      "default": "middle-center",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "top-right",
          "label": "Top Right"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        },
        {
          "value": "middle-right",
          "label": "Middle Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        }
      ]
    },
     {
      "type": "header",
      "content": "Adjust Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
        ],
"presets": [
    {
        "name":"Custom Image Text"
    }
]
}
{% endschema %}