{{ 'product-list.css' | asset_url | stylesheet_tag }}

{% style %}
  .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2  }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }

    @media (min-width: 750px) {
      .padding-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{% endstyle %}

{% capture sliderSettings %}
  {
 "type": "slide",
  "perPage": 3,
  "drag":true,
  "arrows": {{ section.settings.show_arrows }},
  "gap":"20px",
  "pagination": {{ section.settings.show_pagination }},
  "perMove": 1,
  "interval": {{ section.settings.autoplay_duration }},
  "autoplay": {{ section.settings.autoplay }},
  "breakpoints" : {
        "750" : {
          "perPage" : 2
          }
    }
  }
{% endcapture %}

<div class="product-list padding-{{ section.id }}">
  <div class="page-width">
    <div class="product-list-two__heading-section">
      {% if section.settings.section_heading != blank %}
        <h2 class = "h1 product-list-two__heading-title">{{ section.settings.section_heading }}</h2>
      {% endif %}

      {% if section.settings.section_button_text %}
        <a  class="section-collection__button custom-button-{{ section.settings.button_type }}"
            href="{{ section.settings.section_button_link }}"
        >
          {{ section.settings.section_button_text }}
        </a>
      {% endif %}
    </div>

    <div class="product-list-two product-list-two__wrapper">
      <div class="product-list-two__sidebar custom-border-radius-sm ">
        <div class="product-list-two__sidebar-image custom-border-radius-sm media media--portrait">
          {% render 'responsive-picture',
            desktopImage: section.settings.sidebar_desktop_image,
            mobileImage: section.settings.sidebar_mobile_image,
            class: 'media media--portrait'
          %}
        </div>
        <div class="product-list-two__sidebar-content">
          {% if section.settings.pre_heading %}
            <ul class="bnr_caption out-text">
              <li>{{ section.settings.pre_heading }}</li>
            </ul>
          {% endif %}
          {% if section.settings.sidebar_heading %}
            <div class="h2 richtext  product-list-two__sidebar__heading ">{{ section.settings.sidebar_heading }}</div>
          {% endif %}
          {% if section.settings.sidebar_button_text %}
            <a
              class="product-list-two__sidebar-button  custom-button-{{ section.settings.sidebar_button_type }} "
              href="{{ section.settings.sidebar_button_link }}"
            >
              {{ section.settings.sidebar_button_text }}
            </a>
          {% endif %}
        </div>
      </div>
      
      <div class="product-list-two__sidebar-slider">
        <slide-slider>
          <section class="splide" data-slider-settings='{{ sliderSettings }}' aria-label="Slide Show">
            <div class="splide__track">
              <ul class="splide__list ">                
                {% for product in section.settings.product_list %}                  
                  <li class="splide__slide custom-border-radius-sm">
                    {% render 'custom-product-card', product: product, section_id: section.id %}
                  </li>                  
                {% else %}
                  {% for i in (1..4) %}
                    <li class="splide__slide custom-border-radius-sm">
                      {{ 'product-' | append: i | placeholder_svg_tag }}
                    </li>
                  {% endfor %}
                {% endfor %}         
              </ul>
            </div>
          </section>
        </slide-slider>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Product List Two",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section heading",
      "default": "New Arrivals"
    },
    {
      "type": "text",
      "id": "section_button_text",
      "label": "Section button text",
      "default": "View All"
    },
    {
      "type": "url",
      "id": "section_button_link",
      "label": "Section button link"
    },
     {
          "type": "select",
          "id": "button_type",
          "label": "Choose Button Type",
          "default": "primary",
          "info": "Choose Between the Customized Buttons to Style the Button",
          "options": [
            {
            "value": "primary",
            "label": "Primary"
            },
            {
            "value": "secondary",
            "label": "Secondary"
            },
            {
            "value": "secondary_color",
            "label": "Tertiary"
            }
          ]
        },
    {
      "type" : "header",
      "content" : "Sidebar Image Card"
    },
    {
      "type": "image_picker",
      "id": "sidebar_desktop_image",
      "label": "Image"
      },
      {
          "type": "image_picker",
          "id": "sidebar_mobile_image",
          "label": "Image (Mobile)"
      },
      {
          "type" : "text",
          "id" : "pre_heading",
          "label" : "Pre Heading",
          "default" : "Pre Heading"
        },
      {
      "type": "text",
      "id": "sidebar_heading",
      "label": "Heading",
      "default": "Sidebar Heading"
      },
      {
      "type": "text",
      "id": "sidebar_button_text",
      "label": "Section button text",
      "default": "Explore"
      },
      {
      "type": "url",
      "id": "sidebar_button_link",
      "label": "Section button link"
      },
       {
          "type": "select",
          "id": "sidebar_button_type",
          "label": "Choose Button Type",
          "default": "primary",
          "info": "Choose Between the Customized Buttons to Style the Button",
          "options": [
            {
            "value": "primary",
            "label": "Primary"
            },
            {
            "value": "secondary",
            "label": "Secondary"
            },
            {
            "value": "secondary_color",
            "label": "Tertiary"
            }
          ]
        },
    {
      "type" : "header",
      "content" : "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Slide autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show slide dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show slide arrows",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_duration",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "unit": "ms",
      "label": "Autoplay Duration",
      "default": 5000,
      "info": "ms- milliseconds"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products"
    },
    {
      "type" : "header",
      "content" : "Alignment Settings"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type" : "header",
      "content" : "Section padding settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section padding bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Custom Product List Two"
    }
  ]
}
{% endschema %}