{{ 'tab-switching.css' |  asset_url |  stylesheet_tag }}

{%  style  %}
    .padding-{{section.id}} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom  }}px;
    }

    @media screen and (min-width: 750px) {
        .padding-{{section.id}} {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}


{% comment %}
  Capturing silder options 
{% endcomment %}


{% capture sliderOptionsData %}
  {
    "autoplay": {{ section.settings.autoplay }},
    "interval": {{ section.settings.autoplay_duration }},
    "pagination": {{ section.settings.show_pagination }},
    "type": "slide",
    "perPage": 4,
    "gap": "20px",
    "arrows": {{ section.settings.show_arrows }},
    "perMove": 1,
     "breakpoints": {
		"640": {
			"perPage": 2.2
		}
  }
  }
{% endcapture %}

<div class="main-tab-switching padding-{{ section.id}}">
    <div class="page-width">
        <div class="main-tab-switching__tabs">
            <div class="main-tab-switching__title">
                {% if section.settings.section_heading_text != blank %}
                <div class="">{{ section.settings.section_heading_text }}</div>
                {% endif %}
                {% if section.settings.section_heading_title != blank %}
                <div class="h1">{{ section.settings.section_heading_title }}</div>
                {% endif %}
            </div>
            <ul>
                {% for block in section.blocks %}
                <li class="main-tab-switching__tabs-title ">{{ block.settings.tab_title }}</li>
                {% endfor %}
            </ul>
            <hr class="hr">
        </div>
        {% for block in section.blocks %}
        <div class="tab-slider {% unless forloop.first %}hidden{% endunless %}">
            <slide-slider>
                <section class="splide" aria-label="SildeShow" data-slider-settings='{{ sliderOptionsData }}'>
                    <div class="splide__track">
                        <ul class="splide__list ">
                            {% for product in block.settings.collection_list.products %}
                            <li class="splide__slide">
                                {% render 'tab-switching-productcard', product: product, section_id: section.id %}
                            </li>
                            {% else %}
                            {% for i in (1..4) %}
                            <li class="splide__slide custom-border-radius">
                                {{ 'product-' | append: i | placeholder_svg_tag }}
                            </li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </slide-slider>
        </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
  "name": "Collections Switching",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "label": "Section Heading",
      "id": "section_heading_text",
      "default": "<p>New Arrivals</p>"
    },
    {
      "type": "text",
      "label": "Section Title",
      "id": "section_heading_title",
      "default": "Browse The New Arrivals"
    },
    {
      "type": "header",
      "content": "Slider Options"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show Pagination Dots",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show Arrows",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_duration",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "unit": "ms",
      "label": "Autoplay Duration",
      "info": "ms - milliseconds",
      "default": 5000
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    }
  ],
  "blocks": [
    {
      "name": "Collections Blocks",
      "type": "collection",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tabs Title",
          "default": "Suits"
        },
        {
          "type": "collection",
          "id": "collection_list",
          "label": "Collections List",
          "info": "Select the respective collection you want to display"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections Switching"
    }
  ]
}
{% endschema %}

