{{'running-text.css' |  asset_url |  stylesheet_tag}}


{%  style  %}
    .padding-{{section.id}} {
        padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
        padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }

    @media screen and (min-width: 750px) {
        .padding-{{section.id}} {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}


<div class="scrolling-banner padding-{{section.id}}">
    <div class="scrolling-banner__scrolling-wrapper">
        <div class="scrolling-banner__scrolling-items-wrapper">
            {% for rotation in (1..2) %}
                {% for block in section.blocks %}
                    <div class="scrolling-banner__scrolling-item">
                        <div class="scrolling-banner__icon-wrapper">
                            {% if block.settings.scrolling_item_icon %}
                                {{block.settings.scrolling_item_icon}}
                            {% else %}
                                {% render 'icon-cart-empty' %}
                            {% endif %}
                        </div>
                        <div class="scrolling-banner__scrolling-text">
                            {{block.settings.scrolling_text}}
                        </div>
                        {% if block.settings.button_text !=blank %}
                          <a href="{{ block.settings.button_text }}" class="scrolling-text-{{ block.settings.button_type }}">
                            {{ block.settings.button_text}}
                          </a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Running Text",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Section padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 20
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 20
        }   
    ],
    "blocks": [
        {
            "name": "Scrolling block",
            "type": "scrolling-block",
            "settings": [
                {
                    "type": "html",
                    "id": "scrolling_item_icon",
                    "label": "Icon"
                },
                {
                    "type": "richtext",
                    "id": "scrolling_text",
                    "label": "Text",
                    "default": "<p>Scrolling text</p>"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button text",
                    "default": "Button text"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button link"
                },
                   {
          "type": "select",
          "id": "button_type",
          "label": "Choose Button Type",
          "default": "primary",
          "info": "Choose Between the Customized Buttons to Style the Button",
          "options": [
            {
            "value": "primary",
            "label": "Primary"
            },
            {
            "value": "secondary",
            "label": "Secondary"
            },
            {
            "value": "secondary_color",
            "label": "Tertiary"
            }
          ]
        }
            ]
        }
    ],
    "presets": [
        {
            "name": "Running Text"
        }
    ]
}
{% endschema %}