{{ 'slideshow-with-text.css' | asset_url | stylesheet_tag }}

{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media only screen and (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
   }
{% endstyle %}

{% capture sliderSettings %}
            {
               "type": "slide",
               "perPage": 1,
                "rewind": true,
               "arrows": true,
               "pagination": {{ section.settings.show_pagination }},
               "perMove": 1,
               "interval": {{ section.settings.autoplay_duration }},
               "autoplay": {{ section.settings.autoplay }}
            }
  {% endcapture %}

<div class="slideshow-with-text padding-{{ section.id }}">
  <div class="page-width">
    <slide-slider class="slideshow-with-text__wrapper">
      <section class="splide" data-slider-settings="{{ sliderSettings }}" aria-label="Slide Show Content">
        <div class="splide__track custom-border-radius">
          <ul class="splide__list">
            {% if section.blocks.size > 0 %}
              {% for block in section.blocks %}
                <li class="splide__slide">
                  <div class="splide__wrapper-image">
                    {%- if block.settings.image != blank or block.settings.image_mobile != blank -%}
                      {% render 'responsive-picture',
                        desktopImage: block.settings.image,
                        mobileImage: block.settings.image_mobile
                      %}
                    {%- endif -%}
                  </div>
                  <div class="slideshow-with-text__textContent content-{{ block.settings.content_position }}">
                    <div class="slideshow-with-text__textContent-inner text-{{ block.settings.text_alignment }}">
                      {% if block.settings.block_badge_text != blank %}
                        <ul class="bnr_caption inline-richtext out-text ">
                          <li>{{ block.settings.block_badge_text }}</li>
                        </ul>
                      {% endif %}
                      {% if block.settings.block_title_text != blank %}
                        <h2 class="h1 slideshow-with-text__title">{{ block.settings.block_title_text }}</h2>
                      {% endif %}
                      {% if block.settings.block_button_text != blank %}
                        <a
                          class="klaviyo_form_trigger custom-button-{{ block.settings.button_type }}"
                        >
                          {{ block.settings.block_button_text }}
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </li>
              {% else %}
                {% for i in (1..3) %}
                  <li class="splide__slide">
                    {{ 'collection-' | append: i | placeholder_svg_tag }}
                  </li>
                {% endfor %}
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </section>
    </slide-slider>
  </div>
</div>
<script type="text/javascript">
  document.querySelector('.klaviyo_form_trigger').addEventListener('click', function (){
  	window._klOnsite = window._klOnsite || [];
  	window._klOnsite.push(['openForm', 'RkB3bD']);
  });
</script>

{% schema %}
{
  "name": "Slideshow With Text",
  "settings": [
    {
      "type": "header",
      "content": "Slider Options"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show Pagination Dots",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_duration",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "unit": "ms",
      "label": "Autoplay Duration",
      "default": 5000
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "slider-elements",
      "name": "Slider Slides",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Desktop Image Suggested Settings 1240*550"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile)",
          "info": "Mobile Image Suggested Settings 450*450"
        },
        {
          "type": "text",
          "id": "block_badge_text",
          "default": "Trendy Classics",
          "label": "Badge Text"
        },
        {
          "type": "richtext",
          "id": "block_title_text",
          "label": "Title",
          "default": "<p>Elevate your wardrobe with our limited-time fashion offer!</p>"
        },
        {
          "type": "text",
          "id": "block_button_text",
          "default": "Shop Now",
          "label": "Button Text"
        },
         {
          "type": "url",
          "id": "block_button_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Choose Button Type",
          "default": "primary",
          "info": "Choose Between the Customized Buttons to Style the Button",
          "options": [
            {
            "value": "primary",
            "label": "Primary"
            },
            {
            "value": "secondary",
            "label": "Secondary"
            },
            {
            "value": "secondary_color",
            "label": "Tertiary"
            }
          ]
        },
         {
        "type": "header",
        "content": "Alignment Options"
        },
        {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "options": [
            {
            "value": "start",
            "label": "Left"
            },
            {
            "value": "center",
            "label": "Center"
            },
            {
            "value": "end",
            "label": "Right"
            }
        ],
        "default": "center"
        },


   {
      "type": "select",
      "id": "content_position",
      "label": "Content Position",
      "default": "middle-center",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "top-right",
          "label": "Top Right"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        },
        {
          "value": "middle-right",
          "label": "Middle Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        }
      ]
    }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow With Text"
    }
  ]
}
{% endschema %}
